html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    height: 100%;
    background-color: rgb(227, 237, 248);
}

main {
    height: 100%;
}

.table-container {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

table,
tr,
td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 2em;
    text-align: center;
}

thead td {
    padding: 3em;
    font-weight: bold;
}

img {
    margin: 1em;
    width: 1%;
}
